*{
    margin: 0%;
    box-sizing: border-box;
}

/* Universal Page Code */

nav {
    display: flex;
    justify-content: center;
    background-color:dimgrey;
    padding: 1%;
}

nav a {
    text-decoration: none;
    align-self: center;
    border-style: double;
    border-radius: 20%;
    font-size: 115%;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color:goldenrod;
}

nav *{
    padding: 20px;
    font-size: 24px;
    color:white;
}

header h3 {
    font-size: 250%;
}

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:dimgrey;
    color: white;
}

footer > nav {
    display: flex;
}

footer > .info {
    display: flex;
}

/* Home Page Code */

main {
    background-color: #D9D9D9;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.occupation{
    display: flex;
    justify-content: center;
}

.desc-title {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
}

.extra-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    width: 100%;
    text-align: center;
    font-size: 5vh;
}

.image {
    width: 35%;
    height: 35%;
    text-align: center;
    margin-bottom: 2%;
}

/* .greeting {
    display: flex;
    flex-direction:column;
    width: 90%;
} */

/* About Page Code */

.title2 {
    display:flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.image-of-me {
    display: flex;
    justify-content: flex-start;
}

.about-content {
    display: flex;
    padding: 5%;
}

.title1 {
    margin-left: 60%;
}

.description1 {
    margin-block-end: 5%;
}

/* Experiences Page Code */



/* Work Page Code */



/* Resume Page Code */



/* Writing Page Code */



/* Other Work Page Code */



/* Contact Page Code */
